// Text
$logo-text-color: #333333;
$logo-span-color: #269E96;
$text-primary: #333333;
$text-accent: linear-gradient(91.57deg, #10A399 41.15%, #32D3C9 85.26%);


// Elements
$fill-btn-burger: #333333;
$circle-btn-green: #269E96;
$circle-dashed-green: #269E96;
$fill-icon-crypt: #5FC6C1;
$circle-icon-soc: #5FC6C1;
$fill-icon-soc: #269E96;